*~
*.o
*.in
*.pot
*.template
*.sed
*.gmo
*.meta
*.header
*.m4
IExtract
.deps
intl
libtool
install-sh
libtool
ltmain.sh
m4
missing
IExtract-cfg.h
Makefile
config.guess
config.sub
config.status
config.status.lineno
configure
stamp-h1
autom4te.cache
POTFILES
Rules-quot
depcomp
stamp-po
