*.o
*.in
*.pot
*.template
*.sed
*.sin
*.gmo
*.meta
*.header
*.m4
IExtract
.deps
ABOUT-NLS
COPYING
intl
libtool
install-sh
libtool
ltmain.sh
m4
missing
IExtract-cfg.h
Makefile
config.??*
configure
stamp-h1
autom4te.cache
POTFILES
Rules-quot
depcomp
stamp-po
test
